<main>
  <section class="content">
    <app-arrow-navigation id="right"><a routerLink="/components/change-detection"><i class="material-icons">keyboard_arrow_right</i></a></app-arrow-navigation>
    <app-arrow-navigation id="left"><a routerLink="/components/intro"><i class="material-icons">keyboard_arrow_left</i></a></app-arrow-navigation>
    <section class="code-block">
      <prism-block [code]="templateBindings" language="html"></prism-block>
    </section>
    <section class="code-block">
      <prism-block [code]="componentBindings" language="typescript"></prism-block>
    </section>
    <section class="bullet-points">
      <ul title="overview points">
        <li>
          attributes wrapped in <code> [] </code> denote property bindings while those wrapped in <code> () </code>  represent event bindings.
        </li>
      </ul>
    </section>


    <section class="code-block">
      <prism-block [code]="directives" language="html"></prism-block>
    </section>
    <section class="bullet-points">
      <ul title="overview points">
        <li>
          directives marked with <code> * </code> are called structural directives and will make changes to the <code> DOM </code>
        </li>

        <li>
          directives without this prefix are called attribute directives and are used to change the appearance or behavior of a  <code> DOM </code>  element.
        </li>

      </ul>
    </section>


    <section class="code-block">
      <prism-block [code]="pipes" language="html"></prism-block>
    </section>
    <section class="bullet-points">
      <ul title="overview points">

        <li>
          The <code>|</code> operator feeds input through a pipe. Analogous to AngularJS filter.
        </li>

        <li>
          The <code> async pipe </code> will resolve a promise or manage an Observable such that the value is available
          in the template.
        </li>

        <li>
          <code> ng-template </code>is a wrapper around native <code>DOM</code> template. The <code># attribute</code>  is akin to an <code>id</code>.
        </li>

      </ul>
    </section>


  </section>
</main>
