main {
  width: 95vw;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: transparent;
  display: flex;
  margin: 2rem auto;
}

section.content {
  width: 100%;
  border-radius: 4px;
  position: relative;
  min-height: 40vh;
  padding-top: 8vh;
}

app-arrow-navigation {
  position: absolute;
}

app-arrow-navigation#right {
  right: 1em;
  top: 5em;
}

app-arrow-navigation#left {
  left: 1em;
  top: 5em;
}

section.code-block {
  width: 60vw;
  margin: 0 auto 3em auto;
}

section.bullet-points {
  width: 70vw;
  margin: 0 auto;
  padding: 2em;
  margin-top: 1em;
}

section > app-hello-world {
  margin: 100% 0;
}

li {
  line-height: 200%;
  font-size: 200%;
}

i.material-icons {
  font-size: 48px;
  color: darkorange;
  cursor: pointer;
}


.bullet-points > form {
  width: 50%;
  margin: 0 auto;
}


section.example {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

md-option > span {
  border-left: 5px solid;
  padding-left: 8px;
}

md-select {
  border-left: 10px solid;
}
