.color-output {
  border: solid 1px lightgrey;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  line-height: 180%;
  font-size: 180%;
}

.color-output > div {
  border: solid 1px white;
}

.active-link {
  padding: 1px;
  border: dashed 1px burlywood;
}

.inactive {
  text-decoration: none;
}
