<main>
  <section class="content">
    <app-arrow-navigation id="right"><a routerLink="/"><i class="material-icons">keyboard_arrow_right</i></a></app-arrow-navigation>
    <app-arrow-navigation id="left"><a routerLink="/tooling/ng-cli"><i class="material-icons">keyboard_arrow_left</i></a></app-arrow-navigation>

    <!--
    <img src="assets/angular-language-service-example.gif"/>
    -->

    <app-example-gif></app-example-gif>

    <section class="bullet-points">
      <ul title="overview points">

        <li>The <a href="https://cli.angular.io/" target="_blank">Angular CLI</a> is an official Angular package that allows for easily bootstraping an application</li>
        <li>Abstracts away Webpack and allows for "app ejection" -- which is short for give me my config and set up my npm scripts</li>
        <li>Has support for service workers and server side rendering -- undoubtedly each come with associated headaches.</li>
        <li>Not ideal for creating consumable libraries. Designed more for application development. Look into
          <a href="https://www.npmjs.com/package/ng-packagr" target="_blank">ng-packagr</a> for more info.</li>
      </ul>
    </section>

  </section>
</main>
