<main>
  <section class="content">
    <app-arrow-navigation id="right"><a routerLink="/"><i class="material-icons">keyboard_arrow_right</i></a></app-arrow-navigation>
    <app-arrow-navigation id="left"><a routerLink="/tooling/ng-cli"><i class="material-icons">keyboard_arrow_left</i></a></app-arrow-navigation>

    <h1 class="title"> > Angular Language Services </h1>

    <app-example-gif></app-example-gif>

    <section class="bullet-points">
      <ul title="overview points">
        <li> Angular's language service provides <code> intellisense </code> in your templates </li>
        <li> It will also show variables that are only used in your templates as used (webstorm). </li>
      </ul>
    </section>

  </section>
</main>
