<md-grid-list cols="2" rowHeight="2:1">
  <md-grid-tile>

    <a routerLink="/components/intro">
      <i class="material-icons">extension</i>
      Components
    </a>

  </md-grid-tile>
  <md-grid-tile>

    <a routerLink="/reactive-forms/comparison-with-template-forms">
      <i class="material-icons">dashboard</i>
      Reactive Forms
    </a>

  </md-grid-tile>
  <md-grid-tile>


    <a routerLink="/routing/configuration">
      <i class="material-icons">repeat</i>
      Router
    </a>

  </md-grid-tile>
  <md-grid-tile>

    <a routerLink="/tooling">
      <i class="material-icons">build</i>
      Tooling
    </a>


  </md-grid-tile>
</md-grid-list>
