md-grid-list {
  width: 80vw;
  margin: 0 auto;
  min-height: 75vh;
  margin-top: 5vh;
}

md-grid-tile {
  background-color: rgb(245, 245, 245);
  border: solid lightgrey 3px;
}

md-grid-tile:hover {
  background-color: #efb474;
}

.material-icons {
  font-size: 96px;
  color: black;
  cursor: pointer;
}
