<md-grid-list cols="2" rowHeight="2:1">
  <md-grid-tile (click)="router.navigateByUrl('/components/intro')" mdTooltip="Components" mdTooltipPosition="left">

    <i class="material-icons">extension</i>

  </md-grid-tile>
  <md-grid-tile
    (click)="router.navigateByUrl('/reactive-forms/comparison-with-template-forms')"
    mdTooltip="Reactive Forms"
    mdTooltipPosition="right">

    <i class="material-icons">dashboard</i>

  </md-grid-tile>
  <md-grid-tile (click)="router.navigateByUrl('/routing/configuration')" mdTooltip="Router" mdTooltipPosition="left">

    <i class="material-icons">repeat</i>

  </md-grid-tile>
  <md-grid-tile (click)="router.navigateByUrl('/tooling/ng-cli')" mdTooltip="Tooling" mdTooltipPosition="right">

    <i class="material-icons">build</i>

  </md-grid-tile>
</md-grid-list>
