md-grid-list {
  width: 75vw;
  margin: 1vh auto;
  cursor: pointer;
}

md-grid-tile {
  background-color: whitesmoke;
  border: solid lightgrey 3px;
}

md-grid-tile:hover {
  background-color: lightgreen;
}

.material-icons {
  font-size: 96px;
  color: darkslategrey;
}
