main {
  width: 95vw;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: transparent;
  display: flex;
  margin: 2rem auto;
}

section.content {
  width: 100%;
  border-radius: 4px;
  position: relative;
}

app-arrow-navigation {
  position: absolute;
}

app-arrow-navigation#right {
  right: 1em;
  top: 5em;
}

app-arrow-navigation#left {
  left: 1em;
  top: 5em;
}

section.code-block {
  width: 60vw;
  margin: 0 auto 3em auto;
}

section.bullet-points {
  width: 70vw;
  margin: 0 auto;
  padding: 2em;
  margin-top: 1em;
}

section > app-hello-world {
  margin: 100% 0;
}

li {
  line-height: 200%;
  font-size: 200%;
}

i.material-icons {
  font-size: 48px;
  color: darkorange;
  cursor: pointer;
}
