/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

main {
  width: 95vw;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: transparent;
  display: flex;
  margin: 5rem auto 2rem auto;
  position: relative;
}

section.content {
  width: 80%;
  border-radius: 4px;
  margin: 0 auto;
}

app-arrow-navigation {
  position: absolute;
}

app-arrow-navigation#right {
  right: 1em;
  top: 40%;
  position: fixed;
}

app-arrow-navigation#left {
  left: 1em;
  top: 40%;
  position: fixed;
}

section.code-block {
  min-width: 75%;
  max-width: 100%;
  margin: 1em auto;
  font-size: larger;
}

section.bullet-points {
  width: 70vw;
  margin-top: 0.2em;
  margin-bottom: 5em;
  background-color: white;
  padding: 0.5em;
  border: solid 2px darkgrey;
  border-radius: 4px;
}

section > app-hello-world {
  margin: 100% 0;
}

li {
  line-height: 180%;
  font-size: 180%;
  margin: 1em auto;
}

i.material-icons {
  font-size: 48px;
  color: darkorange;
  cursor: pointer;
}

hr {
  margin: 6em 0;
}

body {
  background-color: whitesmoke;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: lower-roman url('/assets/ic_label_outline_black_36dp_1x.png') outside;
}
