<main>
  <section class="content">
    <app-arrow-navigation id="right"><a routerLink="/reactive-forms/example"><i class="material-icons">keyboard_arrow_right</i></a></app-arrow-navigation>
    <app-arrow-navigation id="left"><a routerLink=""><i class="material-icons">keyboard_arrow_left</i></a></app-arrow-navigation>

    <h1 class="title"> > Template Driven Form </h1>

    <section class="code-block">
      <prism-block [code]="templateExample" language="html"></prism-block>
    </section>
    <section class="code-block">
      <prism-block [code]="templateComponent" language="typescript"></prism-block>
    </section>

    <section class="bullet-points">
      <form #f="ngForm" (ngSubmit)="submit(f)">
        <input placeholder="name" [(ngModel)]="name" name="name" required />
        <input placeholder="age" [(ngModel)]="age" name="age" pattern="[0-9]+" required />
        <button type="submit" [disabled]="!f.valid">Submit</button>
      </form>
      <ul title="overview points">
        <li>
          This is a <code>template driven form </code>. Very similar to an AngularJS form.
        </li>

        <li>
          How to get a reference to the form variable? How to manipulate programmatically? How to react to changes?
        </li>
      </ul>
    </section>

    <h1 class="title"> > Reactive Form </h1>
    <section class="code-block">
      <prism-block [code]="reactiveExample" language="html"></prism-block>
    </section>
    <section class="code-block">
      <prism-block [code]="reactiveComponent" language="typescript"></prism-block>
    </section>
    <section class="bullet-points">
      <p> Async validation ran: {{count}} times.</p>
      <form class="reactive-form" [ngStyle]="{'border': myForm.valid ? 'green dashed 5px' : 'red solid 5px'}"  novalidate (ngSubmit)="submit(myForm)" [formGroup]="myForm">
        <input placeholder="name" formControlName="name"/>
        <input placeholder="age" formControlName="age"/>
        <button type="submit" [disabled]="!myForm.valid">Submit</button>
      </form>
      <ul title="overview points">

        <li>
          Data structure so you can reference <code>FormGroup</code> as a property.
        </li>

        <li>
          <code>FormGroup#valueChanges</code> exposes an <code>Observable</code>.
        </li>

        <li>
          Allows for easily modifying validators and Async validation -- Async validator will only run after the sync validators are valid.
        </li>

      </ul>
    </section>
  </section>
</main>
